.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.main-container div {
    border: solid 1px;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.sidebar {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.books {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.book-card-readed, .book-card-unreaded {
    height: 10rem;
}

.book-card-readed {
    background-color: aquamarine;
}

.book-card-unreaded {
    background-color: lightpink;
}